@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap');

:root{
    --nav--color: hsl(203, 30%, 26%);
    --zuta--color: #ecbb31;
    --main--color: #A3A19F;
    --zuta--rezerva: rgb(255,200,36);
    --bg--main: #FFF7EA;
    --text: rgb(53, 52, 52);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

h4{
    margin: 1rem 0;
}

body{
    background-color: var(--bg--main);
    color: var(--text);
    font-family: Jura, Helvetica, sans-serif;
    text-align: center;
}

footer{
    text-align: center;
    background-color: #344B47;
    color: white;
}

footer a{
    color: white;
}

hr{
    background-color: white;
    margin: 1.5rem auto;
    height: 3px;
    width: 20%;
}

main{
    padding: 0 5%;
}

nav{
    background-color:var(--nav--color);
    padding: 0 .5rem;
}

p{
    line-height: 1.5rem;
}

.active{
    display: none;
}

.card{
    box-shadow: -4px 5px 3px gray;
    color: wheat;
    height: 400px;
    max-width: 320px;
    overflow: hidden;
    padding: 1rem;
    
}



.card--busenje{
    background: linear-gradient(rgba(85, 105, 117, 0.7),
    rgba(52, 64, 71, 0.7)),
     url(./images/busenje.jpg);
     background-position: 50%;
}

.card--brusenje{
    background: linear-gradient(rgba(85, 105, 117, 0.7),
    rgba(52, 64, 71, 0.7)),
     url(./images/brusenje.jpg);
     background-position: 50%;
}

.card--glodanje{
    background: linear-gradient(rgba(85, 105, 117, 0.7),
    rgba(52, 64, 71, 0.7)),
     url(./images/cncglodalica.jpg);
     background-position: 50%;
}

.card--header{
    background: var(--zuta--color);
}

.card--header span{
    color: var(--nav--color);
    font-size: 8rem;
    font-weight: 700;
    line-height: 6.5rem;
    text-transform: uppercase;
    word-wrap: break-word;
}

.card--projektovanje{
    background: linear-gradient(rgba(85, 105, 117, 0.7),
    rgba(52, 64, 71, 0.7)),
     url(./images/crtanje.jfif);
     background-position: 50%;
     background-repeat:  no-repeat;
     background-size: cover;
}

.card--struganje{
    background: linear-gradient(rgba(85, 105, 117, 0.7),
    rgba(52, 64, 71, 0.7)),
     url(./images/struganje.jpg);
     background-position: 50%;
}

.card--desc{
    font-size: .8rem;
    line-height: 1.2rem;
}

.card--title{
    text-transform: uppercase;
}

.cards__wrap{
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    margin: .5rem 0;
}

.contact{
    text-align: center;
}

.contact__btn{
    padding: .7rem;
    width: 100%;

    color: var(--nav--color);
    border: none;
    background-color: var(--zuta--color);
    margin: 1rem auto;
    border: 1px solid var(--zuta--color);
    transition-duration: .3s;
}

.contact__btn:hover{
    border: 1px solid var(--nav--color);
    background-color: var(--nav--color);
    color:wheat
}

.contact__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact__form p{
    text-align: left;
}

.contact__icon{
    line-height: 1.5rem;
    margin-right: .5rem;
    vertical-align: middle;
    width: 15px;
}

.contact__icons{
    width: 35px;
    margin: 1rem .1rem;
}

.contact__item{
    width: 100%;
    padding: .5rem;
    border: none;
    border-bottom: 2px solid var(--zuta--color);
    margin-bottom: 1rem;
    background-color: #FFEBCC;
    outline-color: rgb(224, 207, 173);
}

.contact__tel{
    margin: 2rem 0;
}

.footer__content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.header__btn{
    background-color: rgb(255,200,36);
    border: none;
    color: rgb(44, 44, 44);
    display: inline-block;
    
    margin: 0 auto;
    text-decoration: none;
    padding: 0.8rem 3rem;
}

.header__content{
    display: flex;
    flex-direction: column-reverse;
    max-width: 1400px;
}

.header__desc{
    line-height: 1.5rem;
    margin: 2rem 0 3rem 0; 
}

.header__img{
    width: 100%;
}

.header__img--desktop{
    display: none;
}

.header__text{
    padding: 1rem;
    font-family: jura;
}

.header__text span{
    color:rgba(97, 96, 96, .4);
}


.header__title{
    color: var(--nav--color);
    font-family: josefin-sans, sans serif;
    font-weight: 500;
    line-height: 2rem;
    position: relative;
    text-transform: uppercase;
}

.header__title::before{
    bottom: 80%;
    color: rgb(197, 195, 195);
    content: 'PIM engineering';
    display: none;
    font-size: 1rem;
    font-weight: 100;
    position: absolute;
}

.icons{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.icons__item{
    margin: 2rem;
    width: 80px;
}

.nav__bar{
    
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    justify-content: space-between;
}

.nav__menu{
    flex-direction: column;
    list-style: none;
}

.nav__item{
    background-color: var(--nav--color);
    color: var(--bg--main);
    display: block;
    text-decoration: none;
    padding: .5rem 1rem;
}

.nav__item:hover{
    background-color: var(--bg--main);
    color: var(--nav--color)
}

.nav__item--contact{
    border: 1px solid var(--zuta--color);
}



.logo{
    width: 3.5rem;
    height: 3.5rem;
    margin: .5rem 0;
}

.section__desc{
    margin:3rem 0;
}

.section__title{
    font-size: 2.5rem;
    text-transform: uppercase;
}

.toggle__button{
    display: flex;
    flex-direction: column;
    height: 21px;
    justify-content: space-between;
    position: absolute;
    top: 25px;
    right: 1rem;
    width: 30px;
}

.toggle__button .bar{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    height: 3px;
    width: 100%;
}

/* ********************************
**********MEDIA*****************
******************************* */

@media(min-width: 850px){

    body{
        text-align: left;
    }

    hr{
        margin: 1.5rem 0;
    }

    main{
        padding: 0;
    }

    nav{
        font-size: .8rem;
        padding: 0 10%;
    }

    section{
        padding: 5rem 10%;
    }

    .about{
        text-align: center;
    }

    .card{
        flex: 1;
        transition-duration: .3s;
    }

    .card:hover{
        box-shadow: -6px 7px 1px gray;
        transform: scale(1.05);
    }

    .card:hover .card__content{
        top: 0;
    }

    .card__content{
        position: relative;
        top: 85%;
        transition-duration: .3s;
    }

    .cards__wrap{
        flex-direction: row;
    }

    .contact__form{
        margin: 0 auto;
        width: 50%;
    }

    .footer__content{
        align-items: flex-start;
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
        
    }


    .header__content{
        display: flex;
        flex-direction: row;
        /* align-items: center; */
        height: 100vh;
        justify-content: space-between;
        padding: 10% 5% 10% 10%;
    }

    .header__img--desktop{
        align-self: center;
        display: flex;
        width: 60%;
    }

    .header__img--mobile{
        display: none;
    }


    .header__text{
        width: 40%;
    }

    .header__text span{
        display: none;
    }

    .header__title{
        font-size: 3rem;
        font-weight: 800;
        line-height: 3rem;
    }

    .header__title::before{
        display: block;
        text-transform: uppercase;
    }

    .icons{
        flex-direction: row;
        gap: 5rem;
        justify-content: center;

    }

    .nav__bar{
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }

    .nav__menu{
        display: flex;
        flex-direction: row;
    }

    .nav__item:hover{
        background-color: var(--nav--color);
        color: rgb(255, 255, 255);
    }

    .nav__item--contact:hover{
        background-color: var(--zuta--color);
        color: var(--nav--color);
    }

    .services{
        background-color: var(--zuta--color);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .toggle__button{
        display: none;
    }

}
